/* Device tree overlay: add CDC ACM UART to the nRF52840 */
&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };

    cdc_acm_uart1: cdc_acm_uart1 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };
};

/ {
    aliases {
        buzzer = &buzzer_node;
    };

    leds {
        compatible = "gpio-leds";
        buzzer_node: buzzer_node {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>; /* your piezo pin */
        };
    };
};